.el-header,
.el-footer {
  background-color: #682079;
}
.el-main {
  padding: 0;
}
.el-aside {
  width: 340px;
}
.el-card {
  background-color: #fff;
  border-radius: 4px;
  margin: 10px;
}
.el-card__header {
  padding: 12px 20px;
  color: #682079;
  background-color: #f6f6f6;
}
.el-row {
  margin: 0 -15px;
}
