:root {
  --main-color: #682079;
  --init-size: 5px;
}
body {
  background-color: #e9e9e9;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  outline: 0;
  color: #909399;
}
a:hover {
  color: var(--main-color);
}
/* float */
.fr {
  float: right;
}

/* margin */
.mgt0 {
  margin-top: 0;
}
.mgb0 {
  margin-bottom: 0;
}
.mgt10 {
  margin-top: 10px;
}
.mgt60 {
  margin-top: 60px;
}
.mgr10 {
  margin-right: 10px;
}
.mgb10 {
  margin-bottom: 10px;
}
.mgtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mgtb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mglr10 {
  margin-left: 10px;
  margin-right: 10px;
}
/* padding */
.pd0 {
  padding: 0;
}
.pd4 {
  padding: 4px;
}
.pd20 {
  padding: 20px;
}
.pdtb4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pdt10 {
  padding-top: 10px;
}
.pdtb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pdlr10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pdlr15 {
  padding-left: 15px;
  padding-right: 15px;
}
/* width-height */
.wh30 {
  width: 30px;
  height: 30px;
}
.wh50 {
  width: 50px;
  height: 50px;
}
.allw {
  width: 100%;
}
/* font */
.fs8 {
  font-size: 12px;
  line-height: 1.5;
}
.fs12 {
  font-size: 18px;
  line-height: 1.5;
}
.fs16 {
  font-size: 24px;
  line-height: 1.5;
}
/* color */
.white {
  color: #fff;
}
/* other */
.vertical-middle {
  vertical-align: middle;
}
.round {
  border-radius: 50%;
}
.no-outline {
  outline: 0;
}
.pointer {
  cursor: pointer;
}
.transparent,
.transparent:hover {
  background-color: transparent;
}
.dib {
  display: inline-block;
}
